.list-icon{
  color: rgba(0, 153, 204, 1) !important;
  background-color: rgba(211,211,211, 0.5) !important;
  width: 50px !important;
  height: 50px !important;
  font-size: 25px !important;
}

.items-in-grid{
  align-items: center !important;
}